<!--
  This view should only display one pizza, with flavor, location, and picture.
-->
<% include ../partials/header %>

<div class='<%= pizzaClass %>'>
  <h3 class='pizza-flavor'><%= pizza.flavor%></h3>
  <p class='location'>Location: <%= pizza.location %></p>
  <img class='image' src='<%= pizza.image %>' alt='<%= pizza.flavor %>' + ' pizza'>
</div>

<% include ../partials/footer %>
